*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #b8b2b2, #870bb8);
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 900;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border:none;
    background: white;
   
    

}

form button{
    color: #870bb8;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    
    
}

form button:hover {
    background : #870bb8;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo-list{
    min-width: 40%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background:white;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.todo::before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

.todo li{
    flex:1;
}

.trash-btn, .complete-btn{
    background:#870bb8;
    color:white;
    border:none;
    padding: 1rem;
    cursor:pointer;
    font-size: 1rem;
}

.complete-btn{
    background: #870bb8;
}
.complete-btn:hover{
    background: rgb(24, 150, 24) ;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trash-btn:hover{
    background: red ;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-item{
    padding: 0rem 0.5rem;
}
